/* rescalendar */
.rescalendar_table{
	max-width: 1000px;
}

#rescalendar_day_cells td{
	width: 30px;
}

#rescalendar_day_cells span{
	display: block;
	width: 30px;
}

#rescalendar_day_cells span.day{
	display: block;
	width: 30px;
}